
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
}
app-input-bar{
  width: 60%;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
