
.search-input {
  display: flex;
  height: 2.2rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #ddd;
  border-radius: 23px;
  width: 100%;
}

.search-input:focus {
  outline: none;
  border-color: #4d90fe;
  box-shadow: 0 0 0 2px rgba(77, 144, 254, 0.2);
}
#search-bar {
  text-align: center;
}

