
.navbar {
    background-color: transparent !important;
}

/* Custom Styling */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.menu-items {
    color: #ffffff;
}

.middle-section {
    xheight: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-section h2 {
    font-size: 36px;
    color: #333333;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    color: #333333;
}