#hero {
  flex-direction: row;
}
#hero-text {
  flex-direction: column;
}
#search{
  margin: 2rem;
}

button {

}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
